 <head>
 	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
 	<link rel="stylesheet" href="/css/component.css">
 	<link rel="stylesheet" href="/css/component.css">


 	<style type="text/css">


 		#holder2 {
 			text-align: left;
 			border-radius: 5px;
 			margin: 0 auto;
 			color: white;
 			width: 60%;
 			background: linear-gradient(#3D9BCA, #6CAAC9, #3D9BCA);
 			min-height: 500px;
 			text-align: center;
 		}
 		#content {
 			padding-top: 60px;
 			color: white;
 		}

 		h1 {
 			color: white
 		}

 		h2 {
 			color: white;
 		}


 	

 	</style>
 </head>
 <div ng-controller='view3Controller'>
 	<div id='holder2'>
 		<div id='content'><h1>Donation Successfully made !</h1>	
 			<p id='card_last_4'></p>
 			<p id='amount'></p>
 			<p id='receipt_number'></p>


 		 	<h2>Thank you for your contribution</h2>
 		 </div>
 		 	

 
 	</div>
</div>
